In [4]:
empty = []

In [7]:
empty.append(1)

In [8]:
empty

[1]

In [9]:
score = [1,2,3,4,5,7]

In [10]:
myfriends = ["김", "이", "박", "최"]

In [12]:
myfriends

['김', '이', '박', '최']

In [14]:
score

[1, 2, 3, 4, 5, 7]

In [16]:
score[1]

2

In [19]:
score[::2]

[1, 3, 5]

In [23]:
del score[1]

In [24]:
score

[1, 7]

In [25]:
score.insert(1, 7)

In [27]:
score

[1, 7, 7]

In [28]:
tuple1 = (1,2,3,4)

In [30]:
type(tuple1)

tuple

In [31]:
tuple1[1]

2

In [32]:
tuple2 = 5,6,7,8

In [33]:
print(tuple2)

(5, 6, 7, 8)

In [34]:
type(tuple2)

tuple

In [38]:
tuple3 = (9)

In [37]:
tuple4 = 9,

In [40]:
tuple5 = (1,2,3,4)

In [42]:
tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [43]:
del tuple5[1]

TypeError: 'tuple' object doesn't support item deletion

In [44]:
tuple6 =('a', 'b', 'c', 'd', 'e')

In [45]:
tuple6.index('c')

2

In [46]:
tuple7 =('a', 'a', 'a', 'b', 'b', 'c', 'd', 'e')

In [48]:
tuple7.count('a')

3

In [49]:
set1 = {1,2,3}

In [50]:
set2 = {1,2,3,3}

In [59]:
set1
set2

[1, 2, 3, 3]

In [60]:
a = {1,2,3,4,5}

In [61]:
b = {4,5,6,7,8}
a.intersection(b)

{4, 5}

In [62]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [63]:
a.difference(b)

{1, 2, 3}

In [64]:
set3 ={1,2,3}

In [65]:
set4 ={1,2,3,3}

In [66]:
set3
set4

{1, 2, 3}

In [67]:
a & b

{4, 5}

In [68]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [69]:
a - b

{1, 2, 3}

In [70]:
a = [1,2,3,4,5]

In [71]:
type(a)

list

In [72]:
b = tuple(a)

In [73]:
b

(1, 2, 3, 4, 5)

In [74]:
type(b)

tuple

In [75]:
c = set(a)

In [76]:
c

{1, 2, 3, 4, 5}

In [77]:
type(c)

set

In [78]:
list(b)

[1, 2, 3, 4, 5]

In [79]:
list(c)

[1, 2, 3, 4, 5]

In [80]:
# Dict

In [81]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른"}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른'}

In [82]:
type(country_capital)

dict

In [86]:
country_capital["영국"]

'런던'

In [88]:
dict2 = {1:"버스", 2:"비행기", 3:"자동차"}

In [89]:
dict2[3]

'자동차'

In [91]:
dict2[2]

'비행기'

In [92]:
dict3 = {1:100, 2:90, 3:80}

In [93]:
dict3

{1: 100, 2: 90, 3: 80}

In [94]:
dict3[1]

100

In [95]:
dict4 = {"list1":[11,12,13],"list2":[21,22,23]}

In [97]:
dict4["list1"]

[11, 12, 13]

In [98]:
dict5 = {1:10, 'dict_num':{1:10, 2:20}, "dict_list_tuple": {"a":[11,12,13]}}

In [104]:
country_capital["독일"] = "본"

In [105]:
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '독일': '본'}

In [103]:
dict5

{1: 10, 'dict_num': {1: 10, 2: 20}, 'dict_list_tuple': {'a': [11, 12, 13]}}

In [106]:
del country_capital["영국"]

In [108]:
country_capital

{'프랑스': '파리', '스위스': '베른', '독일': '본'}

In [109]:
country_capital.keys()

dict_keys(['프랑스', '스위스', '독일'])

In [110]:
l = country_capital.keys()
type(l)

dict_keys

In [111]:
# 제어문

In [112]:
score = 75
if score >=90:
    print("합격")
else:
    print("불합격")

불합격

In [115]:
score = 85
if score >=90:
    print("참 잘했어요")
elif (score >= 80) and (score < 90):
    print("잘했어요")
else:
    print("좀 더 노력하세요")

잘했어요

In [121]:
score = 100
if score >= 90:
    if score == 100:
        print("완벽")
    else:
        print("참 잘했어요")
elif (score >= 80) and (score < 90):
    print("잘했어요")
else:
    print("좀 더 노력하세요")
    pass

완벽

In [123]:
for i in [0,1,2,3,4,5]:
    print(i)

0
1
2
3
4
5

In [133]:
myFriends = ['James', 'Robert', 'Anna', 'Mary']
for i in myFriends:
    print(i)

James
Robert
Anna
Mary

In [135]:
for a in range(1, 6, 2):
    print(a)

1
3
5

In [140]:
for a in range(6):
    print(a)

0
1
2
3
4
5

In [141]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
names = ["김", "이", "박", "최"]
scores = [92, 96, 88, 99]

In [143]:
for i in range(len(names)):
    print(names[i], scores[i])

김 92
이 96
박 88
최 99

In [145]:
for name, score in zip(names, scores):
    print(name, score)

김 92
이 96
박 88
최 99

In [148]:
i = 0
sum = 0

print("i sum")

while (sum < 20):
    i = i + 1
    sum = sum + 1
    print(i, sum)

i sum
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
11 11
12 12
13 13
14 14
15 15
16 16
17 17
18 18
19 19
20 20

In [151]:
k = 0
while True:
    k = k + 1
    if k > 3:
        break
    print(k)

1
2
3

In [ ]:
for k in range(10):
    if(k>2):
        break
    print(k)

In [ ]:
f = open("a.txt". 'w')
f.write("Python")
f.close()